<br />
<div class="container">
  <div class="row">
    <div class="col-md-2 col-sm-1"></div>
    <div class="col-md-8 col-sm-10">
      <h2>Reestablecer contraseña</h2>
    </div>
  </div>
  <br />

  <br />

  <div class="row">
    <div class="col-md-2 col-sm-1"></div>
    <div class="col-md-8 col-sm-10">
      <form [formGroup]="userIdForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <div class="row">
            <div class="col-5">
              <label for="identificación usuario">Identificación</label>
            </div>

            <div class="col-7">
              <input
                class="form-control"
                formControlName="id"
                id="identificación usuario"
                name="id"
                placeholder="Identificación"
                required
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-5"></div>
          <div class="col-3">
            <button
              type="submit"
              class="btn btn-primary btn-block"
              [disabled]="userIdForm.invalid"
            >
              Enviar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
