<br />
<div class="container">
  <div class="row">
    <div class="col-md-2 col-sm-1"></div>
    <div class="col-md-8 col-sm-10">
      <h2>Transferencias</h2>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-md-2 col-sm-1"></div>
    <div class="col-md-8 col-sm-10">
      <ng-container [ngSwitch]="mode">
        <ng-container *ngSwitchCase="'completing'">
          <form [formGroup]="sourceAccountSelectionForm" name="sourceAccountSelectionForm">
            <div class="row">
              <div class="col-4">
                <label for="cuenta origen">Cuenta origen</label>
              </div>

              <div class="col-8">
                <select
                  formControlName="sourceAccount"
                  id="cuenta origen"
                  name="sourceAccount"
                  (change)="changeSelectedSourceAccount($event)"
                >
                  <option value="">Seleccione una cuenta</option>
                  <option
                    *ngFor="let sourceAccount of this.sourceAccounts | async"
                    [ngValue]="sourceAccount"
                    class="sourceAccountOption"
                  >
                    {{ sourceAccount.display }}
                  </option>
                </select>
              </div>
            </div>
          </form>
          <div *ngIf="this.isSourceAccountSet && this.isSourceAccountInfoSet">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <h5 class="card-header">Información de cuenta origen</h5>
                  <div class="card-body">
                    <h5 class="card-title">Número</h5>
                    <p class="card-text text-right">
                      {{ this.sourceAccount.number }}
                    </p>
                    <h5 class="card-title">Moneda</h5>
                    <p class="card-text text-right">
                      {{ this.sourceAccount.currency }}
                    </p>
                    <h5 class="card-title">Saldo</h5>
                    <p class="card-text text-right">
                      {{ this.sourceAccount.balance | number: '1.2':'en' }}
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <br />

            <div class="row">
              <div class="col-12">
                <div class="card">
                  <h5 class="card-header">Transferencia</h5>
                  <div class="card-body">
                    <form
                      [formGroup]="destinationAccountSelectionForm"
                      name="destinationAccountSelectionForm"
                    >
                      <div class="row">
                        <div class="col-4">
                          <label for="cuenta destino">Cuenta destino</label>
                        </div>

                        <div class="col-8">
                          <select
                            formControlName="destinationAccount"
                            id="cuenta destino"
                            name="destinationAccount"
                            (change)="changeSelectedDestinationAccount($event)"
                          >
                            <option value="">Seleccione una cuenta</option>
                            <option
                              *ngFor="let destinationAccount of this.destinationAccounts | async"
                              [ngValue]="destinationAccount"
                              class="destinationAccountOption"
                            >
                              {{ destinationAccount.display }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </form>

                    <br />

                    <div *ngIf="this.isDestinationAccountSet && this.isDestinationAccountInfoSet">
                      <h5 class="card-title">Identificación del propietario</h5>
                      <p class="card-text text-right">
                        {{ this.destinationAccount.userId }}
                      </p>
                      <h5 class="card-title">Nombre del propietario</h5>
                      <p class="card-text text-right">
                        {{ this.destinationAccount.userFullName }}
                      </p>
                      <h5 class="card-title">Moneda</h5>
                      <p class="card-text text-right">
                        {{ this.destinationAccount.currency }}
                      </p>

                      <form
                        [formGroup]="transferForm"
                        (ngSubmit)="verifyTransfer()"
                        name="transferForm"
                      >
                        <div class="row">
                          <div class="col-4">
                            <label for="monto">Monto</label>
                          </div>

                          <div class="col-8">
                            <input
                              class="form-control"
                              formControlName="amount"
                              id="monto"
                              name="amount"
                              required
                            />
                          </div>
                        </div>

                        <br />

                        <div class="row">
                          <div class="col-4">
                            <label for="detalle">Detalle</label>
                          </div>

                          <div class="col-8">
                            <input
                              class="form-control"
                              formControlName="detail"
                              id="detalle"
                              name="detail"
                              required
                            />
                          </div>
                        </div>

                        <br />

                        <div class="text-center">
                          <button
                            type="submit"
                            class="btn btn-primary"
                            [disabled]="transferForm.invalid"
                          >
                            Verificar
                          </button>
                        </div>
                      </form>
                    </div>
                    <br />
                  </div>
                </div>
              </div>
            </div>
            <br />
          </div>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <div class="row">
            <div class="col-12">
              <div class="card">
                <h5 class="card-header">{{ this.getTransferModeTitle() }}</h5>
                <div class="card-body">
                  <p class="card-text text-center">
                    {{ this.getTransferModeText() }}
                  </p>
                  <br />
                  <h5 class="card-title">Cuenta origen</h5>
                  <p class="card-text text-right">
                    {{ this.transfer.sourceAccount.number }}
                  </p>
                  <p class="card-text text-right">
                    {{ this.userData.fullName }}
                  </p>
                  <p class="card-text text-right">
                    {{ this.userData.id }}
                  </p>
                  <h5 class="card-title">Cuenta destino</h5>
                  <p class="card-text text-right">
                    {{ this.transfer.destinationAccount.number }}
                  </p>
                  <p class="card-text text-right">
                    {{ this.transfer.destinationAccount.userFullName }}
                  </p>
                  <p class="card-text text-right">
                    {{ this.transfer.destinationAccount.userId }}
                  </p>
                  <div class="mb-4">
                    <hr class="solid" />
                  </div>
                  <h5 class="card-title">{{ this.getTransferModeAmountText(false) }}</h5>
                  <p class="card-text text-right">
                    {{ this.transfer.sourceAccount.currency }}
                  </p>
                  <p class="card-text text-right">
                    {{ this.transfer.debitAmount | number: '1.2':'en' }}
                  </p>
                  <h5 class="card-title">{{ this.getTransferModeAmountText(true) }}</h5>
                  <p class="card-text text-right">
                    {{ this.transfer.destinationAccount.currency }}
                  </p>
                  <p class="card-text text-right">
                    {{ this.transfer.creditAmount | number: '1.2':'en' }}
                  </p>
                  <h5 class="card-title">Detalle</h5>
                  <p class="card-text text-right">
                    {{ this.transfer.detail }}
                  </p>

                  <ng-container [ngSwitch]="mode">
                    <ng-container *ngSwitchCase="'verifying'">
                      <div class="btn-toolbar justify-content-between">
                        <div class="btn-group" role="group">
                          <button
                            type="button"
                            class="btn btn-danger"
                            (click)="returnToTransferForm()"
                          >
                            Corregir
                          </button>
                        </div>
                        <div class="btn-group" role="group">
                          <button type="button" class="btn btn-success" (click)="processTransfer()">
                            Confirmar
                          </button>
                        </div>
                      </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'confirmed'">
                      <div class="text-center">{{ this.transferDateTime }}</div>
                      <br />
                      <div class="text-center">
                        <button type="button" class="btn btn-primary" (click)="newTransfer()">
                          Nueva transferencia
                        </button>
                      </div>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
  <br />
</div>
