<div class="form-container">
  <h1>Solicitar seguro</h1>
  <br />

  <form [formGroup]="contactForm" (ngSubmit)="onSaveForm()">
    <div class="form-group">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-2">
          <label for="nombre">Nombre del solicitante</label>
        </div>
        <div class="col-4">
          <input
            class="form-control"
            formControlName="nombreDeSolicitante"
            id="nombre"
            name="name"
            required
          />
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-2">
          <label for="tipSeguro">Tipo de seguro</label>
        </div>
        <div class="col-4">
          <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
            <div class="group-gap">
              <div class="d-block my-3">
                <div class="mb-3">
                  <select
                    id="tipSeguro"
                    class="custom-select"
                    (change)="changeCity($event)"
                    formControlName="ins"
                  >
                    <option>Seleccione el tipo de seguro</option>
                    <option *ngFor="let insurance of insurances" [ngValue]="insurance">{{
                      insurance
                    }}</option>
                  </select>
                </div>
              </div>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary btn-lg btn-block">Ver campos</button>
          </form>
          <!-- Form ends -->
        </div>
      </div>
    </div>
    <div [hidden]="!this.seguroViaje">
      <div class="form-group">
        <div class="row">
          <div class="col-2"></div>
          <div class="col-2">
            <label for="numViajeros">Cantidad de viajeros</label>
          </div>
          <div class="col-4">
            <input
              class="form-control"
              formControlName="numViajeros"
              id="numViajeros"
              name="numViajeros"
              required
            />
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-2"></div>
          <div class="col-2">
            <label for="cantDiasEst">Cantidad de dias de estadia</label>
          </div>
          <div class="col-4">
            <input
              class="form-control"
              formControlName="cantDiasEst"
              id="cantDiasEst"
              name="cantDiasEst"
              required
            />
          </div>
        </div>
      </div>
    </div>

    <div [hidden]="!this.seguroMedico">
      <div class="form-group">
        <div class="row">
          <div class="col-2"></div>
          <div class="col-2">
            <label for="ident">Tipo de identificacion</label>
          </div>
          <div class="col-2">
            <div
              class="opa-control"
              style="
                display: flex;
                flex-direction: column;
                padding-left: 10px;
                padding-right: 10px;
                font-size: 14px;
                font-weight: normal;
                color: rgb(74, 74, 74);
                background-color: rgb(255, 255, 255);
                font-style: normal;
              "
            >
              <div
                class="opa-select-container"
                style="
                  position: relative;
                  font-size: 14px;
                  font-weight: normal;
                  color: rgb(74, 74, 74);
                  background-color: rgb(255, 255, 255);
                  font-style: normal;
                  width: 100%;
                  max-width: 230px;
                "
              >
                <select
                  id="opmCtl9"
                  aria-labelledby="opmlbl9"
                  aria-required="true"
                  aria-disabled="false"
                  style="
                    outline: rgb(114, 119, 128) solid 1px;
                    outline-offset: 0px;
                    border: 0px;
                    padding: 0.4em 2em 0.4em 0.8em;
                    box-sizing: border-box;
                    width: 100%;
                    font-family: inherit;
                    font-size: inherit;
                    font-weight: inherit;
                    font-style: inherit;
                    color: rgb(74, 74, 74);
                    display: block;
                  "
                  ><option style="color: rgb(153, 153, 153);">Identificacion utilizada</option
                  ><option style="color: rgb(74, 74, 74);">Cédula nacional</option
                  ><option style="color: rgb(74, 74, 74);">Pasaporte</option
                  ><option style="color: rgb(74, 74, 74);">Cédula de residencia</option></select
                >
                <div
                  class="opa-select-widget"
                  style="
                    right: 0.5em;
                    top: 0.4em;
                    height: 1.4em;
                    position: absolute;
                    width: 1.4em;
                    pointer-events: none;
                  "
                ></div>
              </div>
            </div>
          </div>
          <div class="col-2">
            <input
              class="form-control"
              formControlName="identifi"
              id="ident"
              name="identifi"
              required
            />
          </div>
        </div>
      </div>
      <br />

      <div class="form-group">
        <div class="row">
          <div class="col-2"></div>
          <div class="col-2">
            <label for="cantBenf">Indique la cantidad de beneficiarios que desea</label>
          </div>
          <div class="col-2">
            <input
              class="form-control"
              formControlName="numBeneficiarios"
              id="cantBenf"
              name="cantBenf"
              required
            />
          </div>
          <div class="col-2"></div>
        </div>
      </div>
    </div>

    <br />

    <div [hidden]="!this.seguroVida">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-2">
          <p>Seleccione un plan</p>
        </div>

        <div class="col-4">
          <div class="row">
            <div class="col-md-5">
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="inlineRadioOptions"
                  id="planA"
                  value="option2"
                />
                <label class="form-check-label" for="inlineRadio2">Plan A($500)</label>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="inlineRadioOptions"
                  id="planB"
                  value="option1"
                />
                <label class="form-check-label" for="inlineRadio1">Plan B($1000)</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="form-group">
        <div class="row">
          <div class="col-2"></div>
          <div class="col-2">
            <label for="cantBenfSegVida">Indique la cantidad de beneficiarios</label>
          </div>
          <div class="col-2">
            <input
              class="form-control"
              formControlName="cantBenfSegVida"
              id="cantBenfSegVida"
              name="cantBenfSegVida"
              required
            />
          </div>
          <div class="col-2"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-2"></div>
      <div class="col-4">
        <!-- Submit Button -->
        <button class="btn btn-primary btn-lg btn-block" (click)="sendForm()">Enviar solicitud</button>

        <!-- Form ends -->
      </div>
    </div>
  </form>
</div>

