<br />
<div class="container">
  <div class="row">
    <div class="col-md-2 col-sm-1"></div>
    <div class="col-md-8 col-sm-10">
      <h2>Registrar cuenta de usuario</h2>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-2 col-sm-1"></div>
    <div class="col-md-8 col-sm-10">
      <form class="user" (ngSubmit)="onSubmit(f)" #f="ngForm">

        <div class="form-group">
          <div class="row">

            <div class="col-5">
              <label for="identificación usuario">Identificación</label>
            </div>

            <div class="col-7">
              <input class="form-control" id="identificación usuario" name="identificacion" placeholder="Identificación"
                ngModel required />
            </div>

          </div>
        </div>

        <div class="form-group">
          <div class="row">

            <div class="col-5">
              <label for="contraseña">Contraseña</label>
            </div>

            <div class="col-7">
              <input class="form-control" type="password" id="contraseña" name="password" placeholder="Contraseña"
                ngModel required />
            </div>

          </div>
        </div>


        <div class="form-group">
          <div class="row">
            <div class="col-5">
              <label for="confirmación contraseña">Confirmación de la contraseña</label>
            </div>

            <div class="col-7">
              <input class="form-control" type="password" id="confirmación contraseña" name="password-conf"
                placeholder="Contraseña" ngModel required />
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">

            <div class="col-5">
              <label for="teléfono">Teléfono</label>
            </div>

            <div class="col-7">
              <input class="form-control" id="teléfono" name="phone" placeholder="Teléfono" ngModel required />
            </div>

          </div>
        </div>

        <div class="form-group">
          <div class="row">

            <div class="col-5">
              <label for="dirección">Dirección</label>
            </div>

            <div class="col-7">
              <textarea class="form-control" id="dirección" name="address" placeholder="Dirección" ngModel required></textarea>
            </div>

          </div>
        </div>

        <div class="form-group">
          <div class="row">

            <div class="col-5">
              <label for="ocupación">Ocupación</label>
            </div>

            <div class="col-7">
              <textarea class="form-control" id="ocupación" name="occupation" placeholder="Ocupación" ngModel required></textarea>
            </div>

          </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block botonbonito" [disabled]="!f.valid">
          Registrar
        </button>
      </form>
    </div>
  </div>
</div>
