<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <a routerLink="/accounts">
            <img
              src="../../assets/images/cuentas.jpg"
              class="img-responsive"
              style="width: 100%;"
              alt="Sección cuentas bancarias"
            />
          </a>

          <div class="card-body">
            <h2>Cuentas bancarias</h2>

            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum accumsan
              arcu. Pellentesque pellentesque aliquam iaculis. Vestibulum ex sem, hendrerit eu
              ultricies eget, porttitor sed ipsum.
            </p>
            <div class="d-flex justify-content-between align-items-center"></div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <a routerLink="/transfers">
            <img
              src="../../assets/images/transferencias.jpg"
              class="img-responsive"
              style="width: 100%;"
              alt="Sección transferencias"
            />
          </a>

          <div class="card-body">
            <h2>Transferencias</h2>

            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum accumsan
              arcu. Pellentesque pellentesque aliquam iaculis. Vestibulum ex sem, hendrerit eu
              ultricies eget, porttitor sed ipsum.
            </p>
            <div class="d-flex justify-content-between align-items-center"></div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <a routerLink="/cards">
            <img
              src="../../assets/images/tarjetas.jpg"
              class="img-responsive"
              style="width: 100%;"
              alt="sección tarjetas"
            />
          </a>
          <div class="card-body">
            <h2>Tarjetas</h2>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum accumsan
              arcu. Pellentesque pellentesque aliquam iaculis. Vestibulum ex sem, hendrerit eu
              ultricies eget, porttitor sed ipsum.
            </p>
            <div class="d-flex justify-content-between align-items-center"></div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <a routerLink="/insurances">
            <img
              src="../../assets/images/seguros.jpg"
              class="img-responsive"
              alt="sección de seguros"
            />
          </a>

          <div class="card-body">
            <h2>Seguros</h2>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum accumsan
              arcu. Pellentesque pellentesque aliquam iaculis. Vestibulum ex sem, hendrerit eu
              ultricies eget, porttitor sed ipsum.
            </p>
            <div class="d-flex justify-content-between align-items-center"></div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img
            src="../../assets/images/ubicaciones.jpg"
            class="img-responsive"
            style="width: 100%;"
            alt="sección de ubicaciones"
          />

          <div class="card-body">
            <h2>Ubicaciones</h2>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum accumsan
              arcu. Pellentesque pellentesque aliquam iaculis. Vestibulum ex sem, hendrerit eu
              ultricies eget, porttitor sed ipsum.
            </p>
            <div class="d-flex justify-content-between align-items-center"></div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <a routerLink="/aboutUs">
            <img
              src="../../assets/images/acerca.jpg"
              class="img-responsive"
              alt="sección acerca de nuestra empresa"
            />
          </a>

          <div class="card-body">
            <h2>Acerca de nosotros</h2>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum accumsan
              arcu. Pellentesque pellentesque aliquam iaculis. Vestibulum ex sem, hendrerit eu
              ultricies eget, porttitor sed ipsum.
            </p>
            <div class="d-flex justify-content-between align-items-center"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
